@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities */
.c_container {
  display: block;
  margin:0 auto;
  padding: 1rem;
  max-width: 1000px;
} 

.btn {
  border-radius: 15px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.btn-primary {
  color: #bdd5da;
  background-color:#18ede5 ;
}

.clr-primary {
  color: #bdd5da;
}
.clr-black {
  color: #345160;
}
.btn-primary {
  background-color: #18ede5;
/*   background-color: #759ea9; */
}
.bg-light {
  background-color: #18ede5;
}
.bkg-black {
  background-color: #2b3740;
}

html{
    margin: 0;
    /* height: 100%; */
    font-family: 'Chivo Mono', monospace;
}
#__next {
  position: relative;
  height: 100%;
  width: 100%;
}

.layout {
  display: grid;
  position: relative;
  grid_gap: 0;
  /* grid-template-rows: 100vh 700vh 1vh;  */
  width: 100%;
  /* height: 200vh; */
  right:0;
  left:0;
  top:0;
}

header .nav-content {
  height: 100%;
}
header .showcase-content {
  height: 100%;
}

.logo-pic {
  padding-bottom: 0.5rem;
}

.logo-name {
  font-size: 1rem;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.7;
}

.ov-1 {
  background-color: #000000;
  height: 100%;
}
.ov-2{
  opacity: 1;
  background-color: #2b3740;
}

/* main::before {
  background-image: url('https://unsplash.com/photos/NEBiauphveY/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MzF8fGFsZ2llcnN8ZW58MHx8fHwxNjcxNDQxNjk4&force=true');
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
} */

nav {
  z-index: 1500;
}

header.navbar,.top-navigation{
  left:0;
  right:0;
  width: 100%;
  overflow: hidden;
}

header.navbar, .showcase {
  /* position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  overflow: auto; */
  height: 100vh;
}

.showcase {
  display: inline-block;
  /* position: relative; */
}

main .showcase {
  width: 100%;
  height: 100%;
}

ul.side-ul li {
  padding: 0.4rem;
  font-size: 0.85rem;
}

.showcase-img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.stats-box {
  padding: 0.5rem;
  text-align: center;
}

.stats-num {
  color:#18ede5;
  font-weight: bold;
}

.Stat-description {
  font-size: 0.5rem;
}

.right-nav-body{
  padding: 1rem;
  
}


.news-slider-btn, .v-seperation,.news-slider-title {
  display: inline-block;
}
.news-slider-btn, .news-slider-title {
 padding: 1rem;
}
.right-nav-body .v-seperation {
  height: 20px;
  width: 1px;
  background-color: #bdd5da;
}

main {
  /* margin-top: 100vh; */
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  border: #000000 solid;  
}

main .showcase-img {
  width: 100%;
}
main .showcase-img {
  width: 100%;
  height: 100%;
}


section.grid-show {
  padding: 1rem;
  /* background-color: #2b3740; */

}

section.grid-show .side-grid {
  padding: 1rem;
}

section.grid-show .side-grid-title {
  font-size: 2.1em;
  font-weight: 530;
}
section.grid-show .side-grid-text {
  font-size: 1.8em;
}
section.grid-show .side-grid-btn {
  display: none;
}

section.grid-show .mosaic {
  padding: 1rem;
}

section.grid-show .mosaic-view-panel img {
  height: 95%;
  width: 100%;
}

section.card-section {
  padding: 1rem;
  /* width: 100%; */
}

.card-section-content {
  padding-right: 1.3rem;
}

.article {
  padding: 0.5rem;
}

.article-head {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.article-separation {
  width: 50%;
  height: 2px;
  background-color: #18ede5;
  margin: 1rem 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-subtitle {
  color: #18ede5;
  font-size: 1.3rem;
}

p.article-text {
  font-size: 1.2rem;
  line-height: 2rem;
  text-wrap: balance;
}

.article-footer {
  color: #18ede5;
}

.global-separation {
  margin: 1rem;
  width: 100%;
  height: 3px;
  background-color: #18ede5;
}

.card {
  display: block;
  width: 100%;
  margin: 1rem;
  background-color: #1e262b;
}

.card-header {
  width: 100%;
  height: 15%;
  background-color: #18ede5;
  color:#2b3740;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.card-image {
  padding: 1rem;
  width: 100%;
}

.card-text {
  padding: 1rem 0.8rem;
}

.footer {
  display: block;
  position: relative;
  padding: 1rem;
  bottom: 0;
  text-align: center;
}


@media only screen and (min-width: 700px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
 }

 .ov-2{
  opacity: 0.7;
  /* background-color: rgb(0, 213, 255); */
  background: rgb(0, 0, 0);
  /* background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(43,55,64,1) 35%, rgb(0, 213, 255) 100%);
  z-index:0; */
  background-color: #2b3740;
}
 .card-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
 }

 .card-section-content .global-separation{
  display: none;
 }

 .card-header{
  padding: 0.8 rem;
 }

 .card-title{
  padding: none;
 }
 .card-image{
  height: 50%;
 }

}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}