.svg-tree {
  position: absolute;
  z-index: 3;
  left: 35%;
  /* top: 10; */
  height: 95%;
  width: 25%;
}

.svg-tree svg {
  display: none;
}

.svg-tree svg rect {
  transition: all 0.5s;
}
.svg-tree svg ellipse,
.svg-tree svg path {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.hidden-item {
  opacity: 0;
  transition: all 2s ease-in-out;
}

@media only screen and (min-width: 1150px) {
  .svg-tree > :first-child {
    display: block;
    height: 100%;
    width: 20vw;
  }
  .svg-tree {
  }
}
@media only screen and (min-width: 1600px) {
  .svg-tree > :first-child {
    display: none;
  }
  .svg-tree > :nth-child(2) {
    display: block;
    height: 100%;
    width: 20vw;
  }
  /* .svg-tree > :nth-child(2) > :nth-child(8) {
    margin-top: 1rem;
  } */
}
